	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "iGrocery", '#', id: "logo" %>
				<!-- HTML5 adds the header, nav, and section elements for divisions -->
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home",    root_path %></li>
						<li><%= link_to "Help",    help_path %></li>
						<li><%= link_to "Sign in", '#' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>